<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.osu.AU13.cse4471.securevote"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.osu.AU13.cse4471.securevote.ui.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.osu.AU13.cse4471.securevote.ui.CreatePoll"
            android:label="@string/title_activity_create_poll"
            android:parentActivityName="edu.osu.AU13.cse4471.securevote.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.osu.AU13.cse4471.securevote.ui.MainActivity" />
        </activity>
        <activity
            android:name="edu.osu.AU13.cse4471.securevote.ui.ViewPoll"
            android:label="@string/title_activity_view_poll"
            android:parentActivityName="edu.osu.AU13.cse4471.securevote.ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.osu.AU13.cse4471.securevote.ui.MainActivity" />
        </activity>
        <activity
            android:name="edu.osu.AU13.cse4471.securevote.EnterEmailActivity"
            android:label="@string/title_activity_enter_email"
            android:parentActivityName="edu.osu.AU13.cse4471.securevote.ui.CreatePoll" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.osu.AU13.cse4471.securevote.ui.CreatePoll" />
        </activity>
    </application>

</manifest>